body {
  /* background-image: url(../images/Lovely-Jungle-Wallpaper.jpg);
  background-size: 1650px; */
  background-color: lightgrey;
}

button,
.gifArrayBtns {
  background-color: burlywood;
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: teal;
}

form {
  text-align: right;
}

label {
  font-size: 1.5em;
  font-weight: 600;
}

#animal-input {
  font-size: 1.2em;
}

#add-animal {
  background-color: burlywood;
  font-size: 1.2em;
  margin: 5px;
}

.cardDiv {
  float: left;
  margin: 10px;
  overflow: auto;
}

.gif {
  box-sizing: border-box;
  cursor: pointer;
  height: 200px;
}

.gif:hover {
  border: solid green 4px;
}

.fa-heart:hover {
  color: red;
  cursor: pointer;
}

#sectionbreak {
  clear: both;
}

.favImg {
  height: 150px;
  width: 200px;
  margin: 10px;
}
